---
import Typography from "../components/Typography.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Page not Found">
	<section class="content-center justify-center text-white">
		<div>
			<Typography as="h1" variant="big" color="white" class="mb-4"> Oops! <br /> 404 Error! </Typography>
			<Typography as="p" variant="body" color="neutral">
				The page you are trying to access does not exist, return to the <Typography
					as="a"
					variant="anchor"
					color="white"
					href="/">main page</Typography
				> if you have missed it
			</Typography>
		</div>
	</section>
</Layout>
