---
import { BadgesList } from "@/components/badges/badges-list";
import { Typography } from "@/components/ui/typography";
import Layout from "@/layouts/Layout.astro";
import { getBadges } from "@/services/badges";

const badges = getBadges();
---

<Layout title="Badges - Markdown Badges">
  <section id="badgetContainer">
    <Typography as="h1" size="h1" className="mb-8"> Badges </Typography>
    <BadgesList client:load />
  </section>
</Layout>
