---
import Layout from "../layouts/Layout.astro"
import badgets from "../consts/badges.json"
import ClipboardIcon from "../icons/clipboard.astro"

const sortedBadges = badgets.sort((a, b) => a.name.localeCompare(b.name))
---

<Layout title="Badges - Markdown Badges">
	<script is:inline src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>

	<section id="badgetContainer">
		<div class="grid md:grid-cols-4 grid-cols-2 gap-4">
			{
				sortedBadges.map(badget => (
					<astro-copy-clipboard>
						<div
							class="relative group bg-[#1e1e1e] cursor-pointer text-white rounded border border-transparent transition p-6 text-center flex flex-col hover:bg-fuchsia-300/30 hover:border-fuchsia-200 badget-element h-full"
							data-copy-clipboard
							data-markdown={badget.markdown}
						>
							<h2 class="text-xl font-semibold text-[#f1f1ef] mb-3">{badget.name}</h2>
							<img
								src={badget.url}
								alt={badget.name}
								class="mt-auto aspect-[4/1] w-3/4 mx-auto"
								loading="lazy"
							/>
							<button class="absolute top-0 right-0 m-2 stroke-gray-600 transition duration-300 group-hover:stroke-fuchsia-300">
								<ClipboardIcon />
							</button>
						</div>
					</astro-copy-clipboard>
				))
			}
		</div>
	</section>
</Layout>

<script>
	import { $ } from "../utils/dom-selector"

	const clipboardIcon =
		'<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="inherit"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" /><path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" /></svg>'
	const clipboardCheckIcon =
		'<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="inherit"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" /><path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" /><path d="M9 14l2 2l4 -4" /></svg>'

	class AstroCopyClipboard extends HTMLElement {
		constructor() {
			super()

			const divElement = $("div", this)
			const copyClipboardElement = $("button", this)

			divElement?.addEventListener("click", () => {
				const markdown = divElement.getAttribute("data-markdown")
				if (markdown) {
					navigator.clipboard.writeText(markdown)

					if (copyClipboardElement) {
						copyClipboardElement.innerHTML = clipboardCheckIcon
						setTimeout(() => {
							copyClipboardElement.innerHTML = clipboardIcon
						}, 700)
					}
				}
			})
		}
	}

	customElements.define("astro-copy-clipboard", AstroCopyClipboard)
</script>
