---
import { BadgeCard } from "@/components/badges/badge-card";
import Typography from "@/components/Typography.astro";
import Layout from "@/layouts/Layout.astro";
import { getBadges } from "@/services/badges";

const badges = getBadges();
---

<Layout title="Badges - Markdown Badges">
  <section id="badgetContainer">
    <Typography as="h1" variant="big" color="white" class="mb-8">
      Badges
    </Typography>
    <div class="grid md:grid-cols-4 grid-cols-2 gap-4">
      {badges.map((badge) => <BadgeCard badge={badge} client:load />)}
    </div>
  </section>
</Layout>
