---
import { Search } from "@/components/search";
import { Typography } from "@/components/ui/typography";
import MarkdownIcon from "@/icons/markdown.astro";
import Layout from "@/layouts/Layout.astro";

const query = Astro.url.searchParams.get("query") || "";
const category = Astro.url.searchParams.get("category") || "";
---

<Layout title="Markdown Badges">
  <section>
    <header class="mb-8">
      <Typography
        as="h1"
        size="h1"
        className="flex items-center justify-center gap-2"
      >
        <MarkdownIcon class="w-16 h-16 stroke-white" />
        Markdown Badges
      </Typography>
      <Typography variant="muted" className="text-center">
        Awesome site to copy markdown badges for your readmes and other markdown
        files.
      </Typography>
    </header>

    <Search client:load initialQuery={query} initialCategory={category} />
  </section>
</Layout>
