---
import Layout from "../layouts/Layout.astro"
import Search from "../components/SearchComponent.vue"
---

<Layout title="Welcome to Astro.">
	<section>
		<Search client:load/>
	</section>
</Layout>
